{% extends 'payroll_app/base.html' %}
{% load static %}



{% block title %}Home{% endblock %}

{% block content %}
<div class="px-4 py-5 rounded-3 shadow-sm bg-white bg-gradient">
    <h1 class="display-6 fw-bold pb-3">Employees</h1>
    <table class="table table-striped table-hover border">
        <thead>
            <tr class="table-light">
                <th scope="col" data-field="name"> Name </th>
                <th scope="col" data-field="id_number"> ID Number </th>
                <th scope="col" data-field="rate"> Rate </th>    
                <th scope="col" data-field="allowance"> Allowance </th>
                <th scope="col" data-field="overtime_pay"> Overtime </th>
                <th scope="col" data-field="actions"> Actions </th>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.id_number }}</td>
                <td>{{ employee.rate }}</td>
                <td>{{ employee.allowance }}</td>
                <td>{{ employee.overtime_pay }}</td>
                <td>
                    <div class="container">
                        <div class="row pb-2">
                            <div class="col">
                                <a href="#" class="btn btn-primary btn-sm w-100" style="--bs-btn-bg: #FC6736;">**Update</a>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-danger btn-sm w-100">**Delete</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <input type="number" class="form-control form-control-sm d-inline" placeholder="Overtime Hours">
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-success w-100 btn-sm add-overtime">**Add</button>
                            </div>
                        </div>
                        
                    </div>
                </td>
            </tr>
            {% endfor %}
            <!-- 
            {% for w in bottles %} 
            <tr>
                <td> {{ w.sku}} </td>
                <td> <a href="{% url 'view_bottle_details' pk=w.pk %}"> {{ w.brand}} </td>
                <td> {{ w.size}} </td>
                <td> {{ w.mouth_size }} </td>
                <td> {{ w.color }} </td>
                <td> {{ w.supplied_by}} </td>
                <td> {{ w.curr_quantity}} </td>
            </tr>
            {% endfor %}
            -->
        </tbody>
    </table>

</div>
{% endblock %}