{% extends 'payroll_app/base.html' %}
{% load static %}


{% block title %}Payslips{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Payroll Creation</h1>
        <form method="post" action="{% url 'create_payslip' %}">
            {% csrf_token %}

            <!--Make it required for the user to input all fields.-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
            {% endfor %}

        {% endif %}
            <div class="row">
                <div class="form-group">
                    <label for="employee">Employee</label>
                    <select name="payslip_employee" id="payslip_employee" class="form-control">
                        <option value="" disabled selected>Select Employee</option>
                            <option value="All Employees"></option>
                        {% for employee in employees %}
                            <option value="{{employee.id}}">{{employee.id}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="pay_date">Month</label>
                    <select name="payslip_date" id="payslip_date" class="form-control">
                        <option value="" disabled selected>Select Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pay_year">Year</label>
                    <input type="text" name="payslip_year" id="payslip_year">
                </div>
                <div class="form-group">
                    <label for="pay_cycle">Pay Cycle</label>
                    <select name="payslip_cycle" id="payslip_cycle" class="form-control">
                        <option value="" disabled selected>Select Cycle</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div class="row">
        <h1>Payslip Summary</h1>
        <table>
            <thead>
                <th class="col">ID Number</th>
                <th class="col">Date</th>
                <th class="col">Cycle</th>
                <th class="col">Total Pay</th>
                <th class="col">Options</th>
            </thead>
            <tbody>
                {% for payslip in payslips %}
                <tr>
                    <td> {{ payslip.id_number}} </td>
                    <td> {{payslip.date_range}} </td>
                    <td> {{ payslip.cycle }} </td>
                    <td> {{payslip.total_pay}} </td>
                    <td> <a href="{% url 'view_payslip' pk=payslip.id_number %}" class="btn btn-primary">View</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}