{% extends 'payroll_app/base.html' %}
{% load static %}


{% block title %}Payslips{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Payroll Creation</h1>
        <form action="POST">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose...</button>
                    <ul class="dropdown-menu">
                        {% for account in accounts %}
                        <li><a href="#">{{account.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose...</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">January</a></li>
                        <li><a href="#">February</a></li>
                        <li><a href="#">March</a></li>
                        <li><a href="#">April</a></li>
                        <li><a href="#">May</a></li>
                        <li><a href="#">June</a></li>
                        <li><a href="#">July</a></li>
                        <li><a href="#">August</a></li>
                        <li><a href="#">September</a></li>
                        <li><a href="#">October</a></li>
                        <li><a href="#">November</a></li>
                        <li><a href="#">December</a></li>
                    </ul>
                </div>
                
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose...</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <h1>Payslip Summary</h1>
        <table>
            <thead>
                <th class="col">ID Number</th>
                <th class="col">Date</th>
                <th class="col">Cycle</th>
                <th class="col">Total Pay</th>
                <th class="col">Options</th>
            </thead>
            <tbody>
                {% for payslip in payslips %}
                <tr>
                    <td> {{ payslip.id_number}} </td>
                    <td> {{payslip.date_range}} </td>
                    <td> {{ payslip.cycle }} </td>
                    <td> {{payslip.total_pay}} </td>
                    <td> <a href="{% url 'view_payslip' %}" class="btn btn-primary">View</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}