<!--
We hereby attest to the truth of the following facts:

We have not discussed the HTML/CSS/Bootstrap/Python/Django language code in our program with anyone other than our instructor or the teaching assistants assigned to this course.

We have not used HTML/CSS/Bootstrap/Python/Django language code obtained from another student, or any other unauthorized source, either modified or unmodified

If any HTML/CSS/Bootstrap/Python/Django language code or docomentation used in our program was obtained from another source, such as a textbook or course notes, that has been clearly noted with a proper citation in the comments of our program.

Bootstrap. (n.d.). Navbar. Bootstrap. https://getbootstrap.com/docs/5.0/components/navbar/.
Bootstrap. (n.d.). Select. Bootstrap. https://getbootstrap.com/docs/5.0/forms/select/.
Bootstrap. (n.d.). Spacing. Bootstrap. https://getbootstrap.com/docs/5.0/utilities/spacing/.
Chapagain, S. (2023, July 6). How to Use a Foreign Key to Create Many-to-One Relationships in Django. Free Code Camp. https://www.freecodecamp.org/news/what-is-one-to-many-relationship-in-django/
Django. (n.d.). Many-to-one relationships. Django. https://docs.djangoproject.com/en/5.0/topics/db/examples/many_to_one/
pcoronel. (2014, May 19). Restrict django FloatField to 2 decimal places. Stack Overflow. https://stackoverflow.com/questions/23739030/restrict-django-floatfield-to-2-decimal-places.
W3Schools. (n.d.). CSS3 Borders. W3Schools. https://www.w3schools.com/css/css3_borders.asp.
W3Schools. (n.d.). CSS3 Images. W3Schools. https://www.w3schools.com/css/css3_images.asp.
W3Schools. (n.d.). CSS3 Shadows. W3Schools. https://www.w3schools.com/css/css3_shadows.asp.
W3Schools. (n.d.). CSS3 Text Justify. W3Schools. https://www.w3schools.com/cssref/css3_pr_text-justify.php.
W3Schools. (n.d.). CSS Text Spacing. W3Schools. https://www.w3schools.com/css/css_text_spacing.asp.
W3Schools. (n.d.). HTML <input> placeholder Attribute. W3Schools. https://www.w3schools.com/tags/att_input_placeholder.asp.
yuvi. (2013, October 28). django difference between - one to one, many to one and many to many. Stack Overflow. https://stackoverflow.com/questions/19641841/django-difference-between-one-to-one-many-to-one-and-many-to-many
-->

{% extends 'payroll_app/base.html' %}
{% load static %}



{% block title %}Update Employee{% endblock %}

{% block content %}

<div class="container my-1" style="width:40%; ">
    <div class="rounded-4 pt-1 p-3 shadow-sm bg-white bg-gradient" >
        <h3 class="text-left mt-3" style="font-weight: bold;">Update Employee</h3> <hr class="mb-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form method="POST" action="{% url 'update_employee' employee.pk %}">{% csrf_token %}
                    
                
                    <div class="form-group">
                        <label for="name" class="form-label" style="font-weight: bold;">Name:</label>
                        <input type="text" class="form-control mb-2" id="name" name="name" value="{{ employee.name }}" required=True>
                    
                        <label for="id" class="form-label" style="font-weight: bold;">ID Number:</label>
                        <input type="number" class="form-control mb-2" id="id" name="id" value="{{ employee.id_number }}" required =True disabled>
                    
                        <label for="rate" class="form-label" style="font-weight: bold;">Rate:</label>
                        <input type="number" class="form-control mb-2" id="rate" name="rate" value="{{ employee.rate }}" required=True>
                    
                        <label for="allowance" class="form-label" style="font-weight: bold;">Allowance (Optional):</label>
                        <input type="number" class="form-control" id="allowance" name="allowance" value="{{ employee.allowance }}">
                    </div>
                   
                    <br>
                    <button type="submit" class="btn btn-dark">Update Employee</button>
                    <a href="{% url 'home' %}"class="btn btn-outline-secondary" style="border-color: gray"> Back</a> 
                </form>
                <br>
            </div>
        </div>
    </div>
    
</div> <br><br> 

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" style="width:30%; margin: auto; text-align: center;" >{{ message }}</div>   
{% endfor %}
{% endif %}

{% endblock %}




