{% extends 'payroll_app/base.html' %}
{% load static %}

{% block title %}Payslip Details{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'payslips' %}" class="btn btn-outline-secondary" style="border-color: gray">
            <i class="bi bi-arrow-left-circle me-2"></i>Back to Payslips
        </a>
    </div>

    <div class="card px-5 py-4 rounded-3 shadow-sm border-0">
        <div class="card-header bg-white border-0">
            <h1 class="card-title display-6 fw-bold">Payslip for {{ payslip.employee.name }}, {{ payslip.date_range }}</h1>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-9">
                    <p class="mb-1"><strong>Name:</strong> {{ payslip.employee.name }}</p>
                    <p class="mb-0"><strong>ID Number:</strong> {{ payslip.employee.id_number }}</p>
                </div>
                <div class="col-3 text-end">
                    <p class="mb-1"><strong>Date:</strong> {{ payslip.date_range }}</p>
                    <p class="mb-0"><strong>Payslip ID:</strong> {{ payslip.pk }}</p>
                    
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless">
                        <thead class="thead-light">
                            <tr>
                                <th class="col-8">Earnings</th>
                                <th class="col-4 text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="list-unstyled mb-0">
                                        <li>Base Pay</li>
                                        <li>Allowance</li>
                                        <li>Overtime</li>
                                    </ul>
                                </td>
                                <td class="text-end">
                                    <ul class="list-unstyled mb-0">
                                        <li>{{ payslip.rate }}</li>
                                        <li>{{ payslip.earnings_allowance }}</li>
                                        <li>{{ payslip.overtime }}</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><h5 class="mb-0">Gross Pay</h5></td>
                                <td class="text-end"><h5 class="mb-0">{{ earned_sum }}</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless">
                        <thead class="thead-light">
                            <tr>
                                <th class="col-8">Deductions</th>
                                <th class="col-4 text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="list-unstyled mb-0">
                                        <li>Withholding Tax</li>
                                        {% for deduct in deductions %}
                                            <li>{{ deduct }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="text-end">
                                    <ul class="list-unstyled mb-0">
                                        <li>{{ payslip.deductions_tax }}</li>
                                        {% for dvalue in deduct_values %}
                                            <li>{{ dvalue }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><h5 class="mb-0">Total deductions</h5></td>
                                <td class="text-end"><h5 class="mb-0">({{ deduct_sum }})</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="col-8 fw-bold"><h3>NET PAY</h3></th>
                                <th class="col-4 text-end"><h3>{{ payslip.total_pay }}</h3></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}