{% extends 'payroll_app/base.html' %}
{% load static %}

{% block title %}Payslip Details{% endblock %}

{% block content %}
<!--Payslip attributes: id_number, month, year, date_range, pay_cycle, rate, earnings_allowance, deductions_tax, deductions_health, pag_ibig, sss, overtime, total_pay-->

<div class="container mx">
    <div class="row">
        <div class="col-9">
            <p>NAME: {{payslip.employee.name}}</p>
            <p>ID NUMBER: {{payslip.employee.id_number}}</p>
        </div>
        <div class="col-3">
            <p>DATE: {{payslip.date_range}}</p>
            <p>PAYSLIP ID: {{payslip.pk}}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-heading p-3"><h2>Payslip for {{payslip.employee.name}}, {{payslip.date_range}}</h2></div>
        <div class="card-body p-3">
            <div class="row">
                <table class="table">
                    <thead class="thead">
                        <th class="col-8">Earnings</th>
                        <th class="col-4">Amount</th>
                    </thead>
                    <tr>
                        <td>
                            <ul>Base Pay</ul>
                            <ul>Allowance</ul>
                            <ul>Overtime</ul>
                        </td>
                        <td>
                            <ul>{{payslip.rate}}</ul>
                            <ul>{{payslip.earnings_allowance}}</ul>
                            <ul>{{payslip.overtime}}</ul>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Gross Pay</h5></td>
                        <td><h5>{sum}</h5></td>
                    </tr>
                </table>
            </div>
           <div class="row">
                <table class="table">
                    <thead>
                        <th class="col-8">Deductions</th>
                        <th class="col-4">Amount</th>
                    </thead>
                    <tr>
                        <td>
                            <ul>Withholding Tax</ul>
                            {% for deduct in deductions %}
                                <ul>{{deduct}}</ul>
                            {% endfor %}
                        </td>
                        <td>
                            <!--The only thing that changes depending on the cycle-->
                            <ul>{{payslip.deductions_tax}}</ul>
                            <!--{for dval in deduction_values}-->
                            {% for dvalue in deduct_values %}
                                <ul>{{dvalue}}</ul>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Total deductions</h5></td>
                        <td><h5>{sum2}</h5></td>
                    </tr>
                </table>
                <table class="table p-3">
                    <thead>
                        <th class="col-8"><h3>NET PAY</h3></th>
                        <th class="col-4"><h3>total_pay</h3></th>
                    </thead>
                </table>
           </div>
        </div>
    </div>
</div>

{% endblock %}